<!DOCTYPE html>
<html>
<head>
  <title>Model gen</title>
  <%= stylesheet_link_tag    "model_gen/application", media: "all" %>
  <%= javascript_include_tag "model_gen/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
